-#カスタムデータ属性を付与
.messages__box{"data-message-id": "#{message.id}"}
  .messages__upper-info
    .messages__upper-info__talker
      = message.user.name
    .messages__upper-info__date
      = message.created_at.strftime("%Y/%m/%d %H:%M")
  .lower-messsages
    - if message.content.present?
      %p.lower-messages__content
        = message.content
    = image_tag message.image, class: 'lower-message__image' if message.image.present?